.container{	
	background:#ccc;
	border:1px solid #000;
	height:350px;
}
.left{
	width:400px;
	float:left;
	background:#FFF;
	height:300px;
	margin-top:20px;
}
.right{
	width:300px;
	float:left;
	background:#CCC;
	height:300px;
}